#### Section 1

1) Finding the average patient age for each drug

In [1]:
import numpy as np
import pandas as pd

In [2]:
market_basket = pd.read_csv('data/Market-Basket.csv')

In [3]:
market_basket

    Unnamed: 0     Unnamed: 1   Unnamed: 2 Unnamed: 3
0          NaN  Market Basket          NaN        NaN
1          NaN            NaN          NaN        NaN
2          NaN       variable         code       Drug
3          NaN          NDC11     78082761      BEOVU
4          NaN          NDC11  50242006001    AVASTIN
..         ...            ...          ...        ...
59         NaN             PX        J7312    OZURDEX
60         NaN             PX        J9035    AVASTIN
61         NaN             PX        Q2046      EYLEA
62         NaN             PX        Q5124    BYOOVIZ
63         NaN             PX        Q5128    CIMERLI

[64 rows x 4 columns]

In [4]:
market_basket.drop(market_basket.columns[0],axis=1,inplace=True)

In [5]:
market_basket

       Unnamed: 1   Unnamed: 2 Unnamed: 3
0   Market Basket          NaN        NaN
1             NaN          NaN        NaN
2        variable         code       Drug
3           NDC11     78082761      BEOVU
4           NDC11  50242006001    AVASTIN
..            ...          ...        ...
59             PX        J7312    OZURDEX
60             PX        J9035    AVASTIN
61             PX        Q2046      EYLEA
62             PX        Q5124    BYOOVIZ
63             PX        Q5128    CIMERLI

[64 rows x 3 columns]

In [9]:
market_basket.drop([0,1,2],inplace=True)

In [10]:
market_basket

   Unnamed: 1   Unnamed: 2 Unnamed: 3
3       NDC11     78082761      BEOVU
4       NDC11  50242006001    AVASTIN
5       NDC11  50242006002    AVASTIN
6       NDC11  50242006010    AVASTIN
7       NDC11  50242006101    AVASTIN
..        ...          ...        ...
59         PX        J7312    OZURDEX
60         PX        J9035    AVASTIN
61         PX        Q2046      EYLEA
62         PX        Q5124    BYOOVIZ
63         PX        Q5128    CIMERLI

[61 rows x 3 columns]

In [11]:
market_basket.columns = ['variable','code','Drug']

In [12]:
market_basket

   variable         code     Drug
3     NDC11     78082761    BEOVU
4     NDC11  50242006001  AVASTIN
5     NDC11  50242006002  AVASTIN
6     NDC11  50242006010  AVASTIN
7     NDC11  50242006101  AVASTIN
..      ...          ...      ...
59       PX        J7312  OZURDEX
60       PX        J9035  AVASTIN
61       PX        Q2046    EYLEA
62       PX        Q5124  BYOOVIZ
63       PX        Q5128  CIMERLI

[61 rows x 3 columns]

In [47]:
drug_name = market_basket.Drug
drug_name = np.array(drug_name)
drug_name

array(['BEOVU', 'AVASTIN', 'AVASTIN', 'AVASTIN', 'AVASTIN', 'AVASTIN',
       'SUSVIMO', 'SUSVIMO', 'LUCENTIS', 'LUCENTIS', 'LUCENTIS',
       'LUCENTIS', 'LUCENTIS', 'LUCENTIS', 'VABYSMO', 'EYLEA', 'EYLEA',
       'EYLEA_HD', 'EYLEA_HD', 'CIMERLI', 'CIMERLI', 'BYOOVIZ', 'LASER',
       'LASER', 'LASER', 'LASER', 'LASER', 'MISC', 'MISC', 'LASER',
       'LASER', 'LASER', 'LASER', 'LASER', 'LASER', 'LASER', 'LASER',
       'LASER', 'LASER', 'SUSVIMO', 'VABYSMO', 'EYLEA', 'MISC', 'EYLEA',
       'BEOVU', 'DEXAMETHASONE', 'MACUGEN', 'VABYSMO', 'LUCENTIS',
       'SUSVIMO', 'STEROIDS', 'STEROIDS', 'VISUDYNE', 'VISUDYNE', 'MISC',
       'MISC', 'OZURDEX', 'AVASTIN', 'EYLEA', 'BYOOVIZ', 'CIMERLI'],
      dtype=object)

In [38]:
drugs = market_basket.code
drugs_arr = np.array(drugs)
drugs_arr

array(['78082761', '50242006001', '50242006002', '50242006010',
       '50242006101', '50242006110', '50242007812', '50242007855',
       '50242008001', '50242008002', '50242008003', '50242008201',
       '50242008202', '50242008203', '50242009601', '61755000501',
       '61755000502', '61755005001', '61755005101', '70114044001',
       '70114044101', '71202000901', '66710', '66711', '66761', '66762',
       '66821', '67027', '67028', '67031', '67039', '67040', '67105',
       '67108', '67145', '67210', '67220', '67228', '0017T', 'C9093',
       'C9097', 'C9291', 'C9399', 'J0178', 'J0179', 'J1100', 'J2503',
       'J2777', 'J2778', 'J2779', 'J3300', 'J3301', 'J3395', 'J3396',
       'J3490', 'J3590', 'J7312', 'J9035', 'Q2046', 'Q5124', 'Q5128'],
      dtype=object)

In [13]:
claims_patients = pd.read_csv('data/Claims-n-Patients.csv')

In [17]:
claims_patients.shape

(2200, 47)

In [15]:

claims_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 47 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   claim id                     2200 non-null   int64
 1   claim date                   2200 non-null   object
 2   claim line item              2200 non-null   int64
 3   claim status                 2200 non-null   object
 4   primary plan payment type    2200 non-null   object
 5   secondary plan payment type  2200 non-null   object
 6   tertiary plan payment type   2200 non-null   object
 7   primary plan name            2200 non-null   object
 8   secondary plan name          2200 non-null   object
 9   tertiary plan name           2200 non-null   object
 10  primary plan type            2200 non-null   object
 11  secondary plan type          2200 non-null   object
 12  tertiary plan type           2200 non-null   object
 13  reject code                  2200 non-null   object
 14  reject reason                2200 non-null   object
 15  source claim type            2200 non-null   object
 16  referring provider hcp id    2200 non-null   object
 17  rendering provider hcp id    2200 non-null   object
 18  diagnosis code 1             2200 non-null   object
 19  diagnosis code 2             2200 non-null   object
 20  diagnosis code 3             2200 non-null   object
 21  diagnosis code 4             2200 non-null   object
 22  diagnosis code 5             2200 non-null   object
 23  diagnosis code 6             2200 non-null   object
 24  diagnosis code 7             2200 non-null   object
 25  diagnosis code 8             2200 non-null   object
 26  ptnt oop                     2200 non-null   object
 27  buy down                     2200 non-null   object
 28  paid by payer                2200 non-null   object
 29  service bill amount          2200 non-null   object
 30  service allowed amount       2200 non-null   object
 31  out of pocket ask            2200 non-null   object
 32  primary payer pay amount     2200 non-null   object
 33  secondary payer pay amount   2200 non-null   object
 34  tertiary payer pay amount    2200 non-null   object
 35  product strength             2189 non-null   object
 36  procedure description        2200 non-null   object
 37  procedure code               2200 non-null   object
 38  treatment code               2200 non-null   object
 39  treatment description        2200 non-null   object
 40  days supply                  2200 non-null   object
 41  quantity                     2200 non-null   object
 42  patient id                   2200 non-null   int64
 43  patient year of birth        2200 non-null   int64
 44  patient gender source value  2200 non-null   object
 45  product id                   2200 non-null   object
 46  product name                 2200 non-null   object
dtypes: int64(4), object(43)
memory usage: 807.9+ KB

In [18]:
type(claims_patients)

pandas.core.frame.DataFrame

In [20]:
claims_patients.isna().any()

claim id                       False
claim date                     False
claim line item                False
claim status                   False
primary plan payment type      False
secondary plan payment type    False
tertiary plan payment type     False
primary plan name              False
secondary plan name            False
tertiary plan name             False
primary plan type              False
secondary plan type            False
tertiary plan type             False
reject code                    False
reject reason                  False
source claim type              False
referring provider hcp id      False
rendering provider hcp id      False
diagnosis code 1               False
diagnosis code 2               False
diagnosis code 3               False
diagnosis code 4               False
diagnosis code 5               False
diagnosis code 6               False
diagnosis code 7               False
diagnosis code 8               False
ptnt oop                       False
buy down                       False
paid by payer                  False
service bill amount            False
service allowed amount         False
out of pocket ask              False
primary payer pay amount       False
secondary payer pay amount     False
tertiary payer pay amount      False
product strength                True
procedure description          False
procedure code                 False
treatment code                 False
treatment description          False
days supply                    False
quantity                       False
patient id                     False
patient year of birth          False
patient gender source value    False
product id                     False
product name                   False
dtype: bool

In [21]:
array = np.array(claims_patients)

In [22]:
array

array([[41439, '12/27/2018', 1, ..., 'M', '\xa0', '\xa0'],
       [98850, '9/2/2021', 1, ..., 'F', '\xa0', '\xa0'],
       [74412, '3/15/2018', 3, ..., 'F', '\xa0', '\xa0'],
       ...,
       [64341, '12/15/2018', 24, ..., 'M', '\xa0', '\xa0'],
       [64341, '12/14/2018', 14, ..., 'M', '\xa0', '\xa0'],
       [64341, '12/19/2018', 34, ..., 'M', '\xa0', '\xa0']], dtype=object)

In [23]:
array.shape

(2200, 47)

In [27]:
array[0][-1]

'\xa0'

In [28]:
array2 = []
for row in range(array.shape[0]):
    if array[row][-1] != '\xa0':
        array2.append(array[row])

In [39]:
clean_claims_patients = pd.DataFrame(array2,columns=claims_patients.columns)

In [40]:
clean_claims_patients.head()

,claim id,claim date,claim line item,claim status,primary plan payment type,secondary plan payment type,tertiary plan payment type,primary plan name,secondary plan name,tertiary plan name,...,procedure code,treatment code,treatment description,days supply,quantity,patient id,patient year of birth,patient gender source value,product id,product name
0,28608,4/13/2019,4,,Medicare Part D,,,UHC MED ADV GENERAL (NJ),,,...,J0696,J0696,"INJECTION, CEFTRIAXONE SODIUM, PER 250 MG",,,1027263161,1941,F,409733801,CEFTRIAXONE SODIUM
1,28608,4/13/2019,4,,Medicare Part D,,,UHC MED ADV GENERAL (NJ),,,...,J0696,J0696,"INJECTION, CEFTRIAXONE SODIUM, PER 250 MG",,,1027263161,1941,F,409733801,CEFTRIAXONE SODIUM
2,28608,4/13/2019,4,,Medicare Part D,,,UHC MED ADV GENERAL (NJ),,,...,J0696,J0696,"INJECTION, CEFTRIAXONE SODIUM, PER 250 MG",,,1027263161,1941,F,409733801,CEFTRIAXONE SODIUM
3,28608,4/13/2019,4,,Medicare Part D,,,UHC MED ADV GENERAL (NJ),,,...,J0696,J0696,"INJECTION, CEFTRIAXONE SODIUM, PER 250 MG",,,1027263161,1941,F,409733801,CEFTRIAXONE SODIUM
4,82179,4/25/2019,2,,Medicare,,,MEDICARE A SOUTH DAKOTA (SD),,,...,J0897,J0897,"INJECTION, DENOSUMAB, 1 MG",,,1355789240,1952,F,55513071001,PROLIA

In [41]:
clean_claims_patients.shape[0]

320

In [89]:
claims_patients_drug = []
for row in range(clean_claims_patients.shape[0]):
    if np.array(clean_claims_patients.iloc[row,-9]) in drugs_arr or np.array(clean_claims_patients.iloc[row,-10]) in drugs_arr:
        claims_patients_drug.append(clean_claims_patients.iloc[row,:])

In [90]:
claims_patients_drug = pd.DataFrame(claims_patients_drug)
claims_patients_drug

,claim id,claim date,claim line item,claim status,primary plan payment type,secondary plan payment type,tertiary plan payment type,primary plan name,secondary plan name,tertiary plan name,...,procedure code,treatment code,treatment description,days supply,quantity,patient id,patient year of birth,patient gender source value,product id,product name
88,10194,7/12/2023,2,,Commercial,,,HUMANA-UNSPECIFIED,,,...,J3301,J3301,"INJECTION, TRIAMCINOLONE ACETONIDE, NOT OTHERW...",,,1680285736,1945,M,81298578303,TRIAMCINOLONE ACETONIDE
89,10194,7/12/2023,2,,Commercial,,,HUMANA-UNSPECIFIED,,,...,J3301,J3301,"INJECTION, TRIAMCINOLONE ACETONIDE, NOT OTHERW...",,,1680285736,1945,M,81298578303,TRIAMCINOLONE ACETONIDE
90,10194,7/12/2023,2,,Commercial,,,HUMANA-UNSPECIFIED,,,...,J3301,J3301,"INJECTION, TRIAMCINOLONE ACETONIDE, NOT OTHERW...",,,1680285736,1945,M,81298578303,TRIAMCINOLONE ACETONIDE
91,10194,7/12/2023,2,,Commercial,,,HUMANA-UNSPECIFIED,,,...,J3301,J3301,"INJECTION, TRIAMCINOLONE ACETONIDE, NOT OTHERW...",,,1680285736,1945,M,81298578303,TRIAMCINOLONE ACETONIDE
96,24901,4/3/2020,3,,Commercial,,,ALL OTHER HEALTHCARE PROVIDER,,,...,J2778,J2778,"INJECTION, RANIBIZUMAB, 0.1 MG",,,2793222447,1957,F,,LUCENTIS
97,24901,4/3/2020,3,,Commercial,,,ALL OTHER HEALTHCARE PROVIDER,,,...,J2778,J2778,"INJECTION, RANIBIZUMAB, 0.1 MG",,,2793222447,1957,F,,LUCENTIS
98,24901,4/3/2020,3,,Commercial,,,ALL OTHER HEALTHCARE PROVIDER,,,...,J2778,J2778,"INJECTION, RANIBIZUMAB, 0.1 MG",,,2793222447,1957,F,,LUCENTIS
99,24901,4/3/2020,3,,Commercial,,,ALL OTHER HEALTHCARE PROVIDER,,,...,J2778,J2778,"INJECTION, RANIBIZUMAB, 0.1 MG",,,2793222447,1957,F,,LUCENTIS
287,57461,6/30/2022,22,,Mgd Medicaid,,,PACIFICSOURCE CMNTY SOL CCO (OR),,,...,J1100,J1100,"INJECTION, DEXAMETHASONE SODIUM PHOSPHATE, 1 MG",,,1032876029,1960,F,63323016501,DEXAMETHASONE SODIUM PHOS
288,57461,6/30/2022,22,,Mgd Medicaid,,,PACIFICSOURCE CMNTY SOL CCO (OR),,,...,J1100,J1100,"INJECTION, DEXAMETHASONE SODIUM PHOSPHATE, 1 MG",,,1032876029,1960,F,63323016501,DEXAMETHASONE SODIUM PHOS
289,57461,6/30/2022,22,,Mgd Medicaid,,,PACIFICSOURCE CMNTY SOL CCO (OR),,,...,J1100,J1100,"INJECTION, DEXAMETHASONE SODIUM PHOSPHATE, 1 MG",,,1032876029,1960,F,63323016501,DEXAMETHASONE SODIUM PHOS
290,57461,6/30/2022,22,,Mgd Medicaid,,,PACIFICSOURCE CMNTY SOL CCO (OR),,,...,J1100,J1100,"INJECTION, DEXAMETHASONE SODIUM PHOSPHATE, 1 MG",,,1032876029,1960,F,63323016501,DEXAMETHASONE SODIUM PHOS
316,99569,8/12/2021,6,,Medicare Part D,,,UHC MED ADV GENERAL (MO),,,...,J9035,J9035,"INJECTION, BEVACIZUMAB, 10 MG",,,1203829438,0,F,50242006001,AVASTIN
317,99569,8/12/2021,6,,Medicare Part D,,,UHC MED ADV GENERAL (MO),,,...,J9035,J9035,"INJECTION, BEVACIZUMAB, 10 MG",,,1203829438,0,F,50242006001,AVASTIN
318,99569,8/12/2021,6,,Medicare Part D,,,UHC MED ADV GENERAL (MO),,,...,J9035,J9035,"INJECTION, BEVACIZUMAB, 10 MG",,,1203829438,0,F,50242006001,AVASTIN
319,99569,8/12/2021,6,,Medicare Part D,,,UHC MED ADV GENERAL (MO),,,...,J9035,J9035,"INJECTION, BEVACIZUMAB, 10 MG",,,1203829438,0,F,50242006001,AVASTIN

In [88]:
'J2778' in np.array(claims_patients['treatment code'])

True